<html>
    <body>
        
        <div ng-controller="spotController">

            
            <h3>Opret nyt spot</h3>
            <form name="test.spotForm" ng-submit="submitData(spot, 'ajaxSubmitResult1')" novalidate >
                
                <!--Adresse-felt - Kan bruges til at hente længde/breddegrader via dawa? skal IKKE gemmes i object-->
                <label for="test.spotform.adresser">Skriv adresse*:</label>
                <input id="test.spotform.adresser" type="text" typeahead-on-select="setkoord($item)" typeahead="adresser as adresser.adressebetegnelse for adresser in getAdress($viewValue)" typeahead-editable="false" ng-model="test.spotForm.adresser"required/><br/> 
               
                
                <!--navn -->
                <label for="stednavn">Skriv stednavn*:</label>
                <input id="test.spotForm.stednavn" type="text" name="lastName" ng-model="spot.name" required /><br/> 
                
                <!---toilet-->
                <label for="toilet">Toilet</label>
                <input id="toilet" type="checkbox" name="fac" value="toilet" ng-model="spot.wc">  <br> 
                
                <!--bad-->
                <label for="bad"> Bad </label>
                <input id="bad" type="checkbox" name="fac" value="bad" ng-model="spot.bath"> <br> 
                
                <!--mad-->
                <label for="bad"> Mad </label>
                <input id="mad" type="checkbox" name="fac" value="bad" ng-model="spot.food"> <br>
                
                <!--seng-->
                <label for="seng">seng</label>
                <input id="seng" type="checkbox" name="fac" value="seng" ng-model="spot.bed"> <br> 
                
                <!--fuel-->
                <label for="tank">tank:</label>
                <input id="tank" type="checkbox" name="fac" value="tank" ng-model="spot.fuel"> <br> 
                
                <!--addblue-->
                <label for="adBlue">adBlue</label>
                <input id="adBlue" type="checkbox" name="fac" value="ab" ng-model="spot.addBlue"><br> 
                
                <!--roadtrain-->
                <label for="vogntog">Vogntog</label>
                <input id="vogntog" type="checkbox" name="fac" value="vogntog" ng-model="spot.roadtrain"> <br> 
                
                 
                <br/>
                <button type="submit"  ng-disabled="test.spotForm.$invalid">Gem</button>
                
            </form>
            
        </div>
        
      
        
    </body>
</html>

